@model User

<div>
    <form asp-action="EditUser" asp-controller="User" method="post">
        <div class="form-group">
            <label>User Name</label>
            <input asp-for="Fullname" class="form-control" placeholder="Enter your fullName" />
            <br />

            <span asp-validation-for="Fullname" class="text-danger"></span>
        </div>

        <div class="form-group mt-2">
            <label>Password</label>
            <input asp-for="Password" class="form-control" placeholder="Enter your password" />

        </div>
        <div class="container mt-2">
            <button type="submit" class="btn btn-secondary">
                Save
            </button>
            <a href="/ShowUser" class="btn btn-info">
                Back
            </a>
        </div>
    </form>
</div>